In [105]:
import re
import pandas as pd

df = pd.DataFrame()

file_name = 'SCD1Contact.txt'
data_folder = 'C:/Users/carlos.batista/Documents/.coding/plantuml/phdModelling/python_scritps/data/'+file_name

In [106]:
count = 0
with open(data_folder) as fp:
    while True:
        count += 1
        line = fp.readline()

        if not line:
            break

        match = re.findall('Target',line)
        if match:
            target = line[8:-1]

        match = re.findall('Observer:',line)
        if match:
            observer = line[10:-1]

        match = re.findall('\d\d ',line)
        if match:
            start_time = line[0:24]
            end_time = line[28:52]
            duration = line[58:70]
            data_cols = pd.DataFrame({'Target': [target],'Observer': [observer], 'Start Time (UTC)': [start_time], 'Stop Time (UTC)': [end_time], 'Duration (s)': [duration]})
            df = pd.concat([df,data_cols], ignore_index=True)

fp.close()

df.to_csv('contact.csv',index=False)

df

,Target,Observer,Start Time (UTC),Stop Time (UTC),Duration (s)
0,SCD1,EMMN,01 Jan 2000 12:32:51.466,01 Jan 2000 12:42:28.690,577.22381760
1,SCD1,EMMN,01 Jan 2000 14:22:01.099,01 Jan 2000 14:27:52.984,351.88573689
2,SCD1,EMMN,01 Jan 2000 16:09:41.973,01 Jan 2000 16:15:28.012,346.03923715
3,SCD1,EMMN,01 Jan 2000 17:55:07.616,01 Jan 2000 18:04:38.859,571.24325791
4,SCD1,EMMN,01 Jan 2000 19:40:36.680,01 Jan 2000 19:52:29.501,712.82019034
5,SCD1,EMMN,01 Jan 2000 21:27:10.834,01 Jan 2000 21:38:29.806,678.97201659
6,SCD1,EMMN,01 Jan 2000 23:16:24.904,01 Jan 2000 23:22:10.128,345.22336638
7,SCD1,EMMN,02 Jan 2000 08:12:32.771,02 Jan 2000 08:22:18.775,586.00422033
8,SCD1,EMMN,02 Jan 2000 09:57:41.956,02 Jan 2000 10:09:43.721,721.76507934
9,SCD1,EMMN,02 Jan 2000 11:44:43.902,02 Jan 2000 11:55:34.574,650.67243852
10,SCD1,ETA,01 Jan 2000 12:30:04.477,01 Jan 2000 12:39:25.814,561.33636385
11,SCD1,ETA,01 Jan 2000 14:21:04.820,01 Jan 2000 14:22:51.992,107.17261636
12,SCD1,ETA,01 Jan 2000 17:55:05.149,01 Jan 2000 17:59:58.738,293.58974638
13,SCD1,ETA,01 Jan 2000 19:39:22.359,01 Jan 2000 19:49:44.352,621.99372916
14,SCD1,ETA,01 Jan 2000 21:24:58.334,01 Jan 2000 21:36:58.968,720.63366511
15,SCD1,ETA,01 Jan 2000 23:12:14.611,01 Jan 2000 23:22:21.203,606.59230269
16,SCD1,ETA,02 Jan 2000 08:09:51.003,02 Jan 2000 08:19:16.901,565.89855119
17,SCD1,ETA,02 Jan 2000 09:54:56.835,02 Jan 2000 10:06:53.576,716.74064471
18,SCD1,ETA,02 Jan 2000 11:41:53.163,02 Jan 2000 11:52:41.485,648.32192949
19,SCD1,ETC,01 Jan 2000 12:26:59.435,01 Jan 2000 12:38:58.240,718.80498991
20,SCD1,ETC,01 Jan 2000 14:13:23.563,01 Jan 2000 14:25:21.051,717.48764327
21,SCD1,ETC,01 Jan 2000 16:00:35.218,01 Jan 2000 16:11:46.537,671.31866090
22,SCD1,ETC,01 Jan 2000 17:47:27.529,01 Jan 2000 17:58:50.346,682.81709229
23,SCD1,ETC,01 Jan 2000 19:33:45.892,01 Jan 2000 19:45:55.132,729.24077148
24,SCD1,ETC,01 Jan 2000 21:20:21.275,01 Jan 2000 21:31:53.428,692.15210471
25,SCD1,ETC,01 Jan 2000 23:09:04.307,01 Jan 2000 23:15:28.065,383.75827542
26,SCD1,ETC,02 Jan 2000 09:57:04.775,02 Jan 2000 10:02:04.243,299.46802809
27,SCD1,ETC,02 Jan 2000 11:40:05.932,02 Jan 2000 11:51:22.377,676.44493313

In [5]:


file_name = 'CBERSContact.txt'

df = gmat.contact_to_csv(file_name)

df

,Target,Observer,Start Time (UTC),Stop Time (UTC),Duration (s)
0,CBERS4A,EMMN,01 Jan 2000 16:28:29.000,01 Jan 2000 16:39:43.376,674.37659103
1,CBERS4A,EMMN,02 Jan 2000 04:57:05.185,02 Jan 2000 05:08:23.088,677.90241555
2,CBERS4A,ETA,01 Jan 2000 16:29:14.169,01 Jan 2000 16:38:10.098,535.92954380
3,CBERS4A,ETA,01 Jan 2000 18:07:42.630,01 Jan 2000 18:17:19.323,576.69317649
4,CBERS4A,ETA,02 Jan 2000 04:58:43.486,02 Jan 2000 05:09:40.053,656.56737926
5,CBERS4A,ETA,02 Jan 2000 06:40:32.318,02 Jan 2000 06:45:22.703,290.38503414
6,CBERS4A,ETC,01 Jan 2000 18:11:06.888,01 Jan 2000 18:22:26.581,679.69271148
7,CBERS4A,ETC,02 Jan 2000 04:59:25.075,02 Jan 2000 05:02:48.122,203.04705390
8,CBERS4A,ETC,02 Jan 2000 06:34:37.766,02 Jan 2000 06:45:44.370,666.60359896

In [1]:
import pandas as pd
from os import listdir

import libs.from_gmat as gmat

data = pd.DataFrame()

for file_name in listdir('data/'):
    df = gmat.contact_to_csv(file_name)
    # print(len(df))
    data = pd.concat([data,df],ignore_index=True)

data.to_csv('contact.csv',index=False)